In [10]:
# Import Splinter and BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
import requests
import pandas as pd

### 1. Mars Nasa News Site Article Scraping

In [11]:
# Create instance of Splinter & initialize Chrome browser
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 98.0.4758
Get LATEST chromedriver version for 98.0.4758 google-chrome
Driver [C:\Users\Nat\.wdm\drivers\chromedriver\win32\98.0.4758.102\chromedriver.exe] found in cache

In [12]:
# Visit the target URL (Mars Nasa News Site)
url = 'https://redplanetscience.com'
browser.visit(url)

# Optional delay for loading the page
browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [13]:
# Get the html content of the visited page
html = browser.html

# Create BeautifulSoup object & parse with 'html.parser'
news_soup = soup(html, 'html.parser')

In [14]:
# Create a variable (ie parent element) to hold all html info under 
# the div tag with class list_text w/ the things we want to scrape

slide_elem = news_soup.select_one('div.list_text')

# OR
# slide_elem = news_soup.select_one('div', class_= 'list_text')

#### Goal: collect the most recent news article along with its summary

In [15]:
slide_elem.find('div', class_='content_title')

In [16]:
# Use the parent element to find the title of the 1st listed article and save it as `news_title`
news_title = slide_elem.find('div', class_='content_title').get_text()
news_title

'Mars Scientists Investigate Ancient Life in Australia'

In [17]:
# Use the parent element to find the summary text of the 1st listed article and save it as `news_p`
news_p = slide_elem.find('div', class_='article_teaser_body').get_text()
news_p

"Teams with NASA's Mars 2020 and ESA's ExoMars practiced hunting for fossilized microbial life in the Australian Outback in preparation for their Red Planet missions. "

In [18]:
# Close down browser
browser.quit()

### 2. Jet Propulsion Labratory's Images Scraping

#### Goal: gather the featured images from the Jet Propulsion Laboratory's Space Images webpage

In [19]:
# Create instance of Splinter & initialize Chrome browser
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 98.0.4758
Get LATEST chromedriver version for 98.0.4758 google-chrome
Driver [C:\Users\Nat\.wdm\drivers\chromedriver\win32\98.0.4758.102\chromedriver.exe] found in cache

In [20]:
# Visit the target URL (Jet Propulsion Laboratory's Space Images website)
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [21]:
# Find and click the full image button
# the full image button is the second instance of the <button> tag so use index [1]
full_image_elem = browser.find_by_tag('button')[1].click()

In [22]:
# Get the html content of the visited page
html = browser.html

# Create BeautifulSoup object (img_soup) & parse with 'html.parser'
img_soup = soup(html, 'html.parser')

In [23]:
# Find the relative image url for the image that is pulled up after clicking on the full image button
img_url_rel = img_soup.find('img', class_='fancybox-image').get('src')
img_url_rel

'image/featured/mars3.jpg'

In [24]:
# NOTE the above url is only partial and will not take you to the image so we need to add the base url to the relative url

In [25]:
# Use the base URL to create an absolute URL
img_url = f'https://spaceimages-mars.com/{img_url_rel}'
img_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

In [26]:
# Close down browser
browser.quit()

### 3. Mars Facts Table Scrape

In [27]:
# Use Pandas read_html function to scrape a whole table
df = pd.read_html('https://galaxyfacts-mars.com')[0]
df.columns=['description', 'Mars', 'Earth']
df.set_index('description', inplace=True)
df

                                    Mars            Earth
description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [28]:
# convert our dataframe back to html for adding to webpage
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'